.host-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.host-menu > * {
  margin: 0 10px;
}

.host-menu .quiteChannel {
  display: flex;
  cursor: pointer;
}

.host-menu .quiteChannel .roomName {
  margin-right: 10px;
}
