.screen-selector .ant-modal-body {
  min-height: 360px;
}
.screen-selector .screen-screen-options {
  padding-bottom: 8px;
}

.screen-selector .tip {
  font-size: 14px;
  line-height: 1;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.screen-selector .tip .icon {
  color: #ffab00;
  font-size: 17px;
  margin-right: 3px;
}
.screen-selector .list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px;
  margin-right: 16px;
  margin-bottom: 16px;
  border: 1px solid #303030;
  border-radius: 4px;
}

.screen-selector .list .item {
  margin: 10px;
  width: 230px;
  background: #efefef78;
  padding: 10px;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
}

.screen-selector .list .item.checked {
  background-color: #177ddc;
  border-color: #177ddc;
}

.screen-selector .list .item:hover {
  border-color: #177ddc;
}

.screen-selector .list .item .thumbnail {
  height: 120px;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.screen-selector .list .item .thumbnail > img {
  max-height: 100%;
  max-width: 100%;
}

.screen-selector .list .item .name {
  font-size: 14px;
  margin-top: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}
.screen-selector .list .item.checked .name {
  color: #fff;
}
